.app {
    overflow-x: hidden;
    position: relative;
}

/* Side bar */
.side-bar {
    height: 100vh;
    max-width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--grey-color);
}

.side-bar-mobile-tablet {
    display: none;
    background-color: var(--dark-grey-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.side-bar-mobile-tablet__item-list {
    margin: 0;
    padding-left: 0;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.side-bar-mobile-tablet__item {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar-mobile-tablet__item--active {
    background-color: var(--light-grey-color);
    border-radius: 8px;
}

.side-bar-mobile-tablet__item--active .side-bar-mobile-tablet__item-link {
    color: var(--purple-color);
}

.side-bar-mobile-tablet__item-link {
    font-size: 1.8rem;
    color: var(--text-color);
    text-decoration: none;
}

.side-bar__logo-link {
    display: block;
    text-decoration: none;
}

.side-bar__logo{
    width: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.side-bar__list {
    list-style: none;
    padding-left: 0;
    align-items: center;
}

.side-bar__item {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 8px;
    border-radius: 8px;
}

.side-bar__item--active {
    background-color: var(--light-grey-color);
}

.side-bar__item-link {
    text-decoration: none;
    font-size: 2.3rem;
    color: var(--text-color);
}

.side-bar__item--active .side-bar__item-link {
    color: var(--purple-color);
}

.side-bar__item-avatar {
    width: 30px;
    border-radius: 50%;
}

.chats {
    background-color: var(--dark-grey-color);
    max-height: 100vh;
    min-height: 100vh;
}

.chats__wrap {
    margin: 30px 15px;
}

.chats__header-wrap {
    max-height: 280px;    
}

.chats__title {
    margin: 0;
    font-size: 2.75rem;
    font-weight: 500;
    color: var(--white-color);
}

.chats__sub-title {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
    color: var(--white-color);
}

.chats__search-wrap {
    display: flex;
    background-color: var(--light-grey-color);
    height: 45px;
    margin: 20px 0;
    border-radius: 8px;
}

.chats__search-label {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chats__search-label i {
    font-size: 2rem;
    color: var(--text-color);
}

.chats__search-input {
    background-color: transparent;
    color: var(--text-color);
    flex: 1;
    font-size: 1.5rem;
    border: none;
    outline: transparent;
}

.chats__contacts-list {
    width: 100%;
    height: 80px;
    overflow-x: scroll;
    display: flex;
    padding-left: 0;
    list-style: none;
    scrollbar-width: none;
    margin-bottom: 20px;
}

.chats__contacts-list::-webkit-scrollbar {
    width: 0px;
}

.chats__contacts-item {
    margin: 0 8px 0 0;
}

.chats__contacts-item:last-child {
    margin-right: 0;
}

.chats__contacts-item-link {
    display: block;
    height: 100%;
    padding-top: 20px;
    text-decoration: none;
    color: var(--white-color);
}

.chats__contacts-item-content-wrap {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 50px;
    width: 70px;
    border-radius: 5px;
    background-color: var(--light-grey-color);
}

.chats__contacts-item--online .chats__contacts-item-content-wrap::before {
    content: "";
    position: absolute;
    right: 15px;
    bottom: 28px;
    width: 10px;
    height: 10px;
    background-color: #06d6a0;
    border: 2px solid var(--dark-grey-color);
    border-radius: 50%;
    z-index: 1;
}

.chats__contacts-item-avatar {
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.chats__contacts-item-username {
    font-size: 1.20rem;
    font-weight: 500;
    margin: 26px auto 0 auto;
}

.chats__chat-list-wrap {
    margin-top: 20px;
    height: calc(100vh - 300px);
    overflow-y: scroll;
    scrollbar-width: none;
}

.chats__chat-list-wrap::-webkit-scrollbar {
    width: 0px;
}

.chats__chats-list {
    padding-left: 0;
    list-style: none;
}

.chats__chats-item {
    height: 75px;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
}

.chats__chats-item:hover {
    cursor: pointer;
    background-color: var(--light-grey-color);  
}

.chats__chats-item--active {
    background-color: var(--light-grey-color);  
}

.chats__chat-item-link {
    display: block;
    text-decoration: none;
}

.chats__chat-item-wrap {
    display: flex;
    height: 100%;
    padding: 15px;
    align-items: center;
}

.chats__chat-item-avatar-wrap {
    position: relative;
}

.chats__chat-item-avatar-wrap--online::before {
    content: "";
    position: absolute;
    right: -3px;
    bottom: 3px;
    width: 10px;
    height: 10px;
    background-color: #06d6a0;
    border: 2px solid var(--dark-grey-color);
    border-radius: 50%;
}

.chats__chat-item-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.chats__chat-item-content {
    margin-left: 18px;
    flex-grow: 1;
}

.chats__chat-item-username {
    font-size: 1.5rem;
    margin: 6px 0;
    color: var(--white-color);
}

.chats__chat-item-chat-preview {
    font-size: 1.2rem;
    margin: 6px 0;
    color: var(--text-color);
}   

.chats__chat-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chats__chat-time {
    color: var(--text-color);
    margin-bottom: 6px;
}

.chats__new-message-dot {
    width: 8px;
    height: 8px;
    background-color: var(--purple-color);
    border-radius: 50%;
}

.chats__new-message-dot--hidden {
    display: none;
}

.chat-content {
    background-color: var(--black-color);
    max-width: unset;
    flex: 1;
}

.chat-content__header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 2px solid #343d47;
}

.chat-content-header__user-info {
    display: flex;
    align-items: center;
    position: relative;
}

.chat-content-header__avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.chat-content-header__user-info--online::after {
    content: "";
    position: absolute;
    left: 25px;
    bottom: 5px;
    width: 10px;
    height: 10px;
    background-color: #06d6a0;
    border: 2px solid var(--dark-grey-color);
    border-radius: 50%;
}

.chat-content-header__username {
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white-color);
}

.chat-content-header__action-list {
    padding-left: 0;
    list-style: none;
    display: flex;

}

.chat-content-header__action-item-more-action {
    position: relative;
}

.chat-content-header__action-more-list {
    padding-left: 0;
    list-style: none;
    width: 160px;
    position: absolute;
    left: -138px;
    top: 25px;
    display: none;
    overflow: hidden;
    border-radius: 5px;
    animation: showUp .3s ease-in-out;
}

.chat-content-header__action-more-list--show {
    display: block;
}

.chat-content-header__action-more-item {
    background-color: #313a43;
}

.chat-content-header__action-more-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    padding: 15px 20px;
}

.chat-content-header__action-more-link:hover {
    background-color: #36404a;
}

.chat-content-header__action-more-link > i {
    font-size: 1.3rem;
}

.chat-content-header__action-more-link > h3 {
    font-size: 1.5rem;
    margin: 0;
}

.chat-content-header__action-more-link:hover h3 {
    color: var(--white-color);
}

.chat-content-header__action-item {
    color: var(--text-color);
    font-size: 1.75rem;
    margin-right: 25px;
    cursor: pointer;
}

.chat-content-header__action-item:last-child {
    margin-right: 0;
}

.chat-content__body {
    height: calc(100vh - 216px);
    overflow-y: auto;
    padding: 30px 25px;
    scrollbar-width: none;
}

.chat-content__body::-webkit-scrollbar {
    width: 0px;
}

.chat-content__body-list {
    padding-left: 0;
    list-style: none;
}

.chat-content__body-item {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}

.chat-content__body-item-wrap {
    display: flex;
    position: relative;
    margin-bottom: 10px;
    max-width: 35%;
}

.chat-content__body-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
    align-self: flex-end;
}

.chat-content__body-chat {
    padding: 10px 18px;
    background-color: var(--purple-color);
    color: var(--white-color);
    border-radius: 10px 10px 10px 0px;
    position: relative;
}

.chat-content__body-chat::after {
    content: "";
    border-top: 8px solid var(--purple-color);
    border-left: 8px solid var(--purple-color);
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    left: 0;
    bottom: -6px;
}

.chat-content__body-chat p {
    margin: 0 0 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.chat-content__body-time {
    font-size: 1.2rem;
    color: var(--text-color);
    float: right;
}

.chat-content__body-action-list {
    list-style: none;
    position: absolute;
    z-index: 10;
    right: -145px;
    width: 160px;
    height: 150px;
    padding: 5px 0;
    background-color: #313a43;
    display: flex;
    flex-direction: column;
    display: none;
    animation: showUp .3s ease-in-out forwards;
    border-radius: 5px;
    overflow: hidden;
}

@keyframes showUp {
    from {
        top: 48px;
        opacity: 0;
    }
    to {
        top: 28px;
        opacity: 1;
    }
}

.chat-content__body-action-list--show {
    display: flex;
}

.chat-content__body-action-item {
    color: var(--text-color);
    height: 25%;
}

.chat-content__body-action-item-link {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    font-size: 1.3rem;
}

.chat-content__body-action-item-link:hover {
    background-color: #36404a;
    color: #d3d5d8;
}

.chat-content__body-action-item-link > h3 {
    margin: 0;
    font-weight: 400;
}

.chat-content__body-action-item-link > i {
    font-size: 1.4rem;
}

.chat-content__body-item--right {
    flex-direction: row-reverse;
    height:100%;
}

.chat-content__body-item--right .chat-content__body-item-wrap {
    display: flex;
    flex-direction: row-reverse;    
    align-self: flex-end;
}

.chat-content__body-item--right .chat-content__body-avatar {
    margin-right: 0;
    margin-left: 15px;
}

.chat-content__body-item--right .chat-content__body-chat {
    background-color: var(--light-grey-color);
    border-radius: 10px 10px 0px 10px;
}

.chat-content__body-item--right .chat-content__body-chat::after {
    content: "";
    border-top: 8px solid var(--light-grey-color);
    border-right: 8px solid var(--light-grey-color);
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    left: unset;
    right: 0;
    bottom: -6px;
}
.chat-content__body-item--right .chat-content__body-time {
    float: unset;
}

.chat-content__body-item--right .chat-content__body-action-list {
    left: -145px;
    right: unset;
}

.chat-content__body-action {
    margin: 4px 2 0 3px;
    padding: 8px;
    align-self: flex-start;
    font-size: 1.25rem;
    color: var(--purple-color);
    cursor: pointer;
}

.chat-content__body-action:hover {
    color: var(--purple-hover-color);
}

.chat-content__footer {
    padding: 30px;
    display: flex;
    border-top: 1px solid #343d47;
}

.chat-content__footer-chat-input {
    height: 40px;
    flex: 1;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: var(--light-grey-color);
    color: #bdc9ee;
    font-size: 1.3rem;
    font-weight: 600;
}

.chat-content__footer-action-list {
    display: flex;
    margin: 0;
    list-style: none;
    padding-left: 30px;
}

.chat-content__footer-action-item + .chat-content__footer-action-item {
    margin-left: 35px;
}

.chat-content__footer-action-label {
    cursor: pointer;
}

.chat-content__footer-action-label:hover i {
    color: var(--purple-hover-color);
}

.chat-content__footer-action-item {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: var(--purple-color);
}

.chat-content__footer-send-button {
    width: 50px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: var(--purple-color);
    cursor: pointer;
}

.chat-content__footer-send-button:hover {
    background-color: var(--purple-hover-color);
}

.chat-content__footer-send-icon {
    margin-top: 2px;
    margin-left: 2px;
}

.profile {
    flex: 0;
    display: none;
    background-color: var(--black-color);
}

.profile--show {
    flex: 1;
    display: block;
    border-left: 4px solid #36404a;
}

.profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    border-bottom: 4px solid #2c343c;
}

.profile__header-close-wrap {
    height: 30px;
    width: 100%;
    padding: 10px 35px;
}

.profile__header-close-icon-wrap {
    padding: 5px;
    float: right;
    cursor: pointer;
}

.profile__header-close-icon-wrap i {
    color: var(--text-color);
    font-size: 1.5rem;
}

.profile__avatar {
    height: 110px;
    width: 110px;
    border: 5px solid #303840;
    border-radius: 50%;
    object-fit: cover;
}

.profile__username {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white-color);
    margin: 30px 0 10px;
}

.profile__status {
    display: flex;
    align-items: center;
}

.profile__status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: none;
}

.profile__status-dot--online {
    background-color: #06d6a0;
    display: block;
    margin-right: 8px;
}

.profile__statust-text {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
}

.profile__content {
    padding: 25px;
    overflow-y: auto;
    height: calc(100vh - 40vh);
    scrollbar-width: none;
    position: relative;
}


.profile__content::-webkit-scrollbar {
    width: 0px;
}

.profile__content-bio {
    color: var(--text-color);
    font-size: 1.3rem;
    line-height: 2rem;
}

.profile__content-user-info-drop-down,
.profile__content-attached-files-drop-down {
    display: flex;
    height: 45px;
    background-color: var(--light-grey-color);
    margin-top: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    color: var(--white-color);
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.profile__content-user-info-drop-down-list {
    list-style: none;
    padding: 0 20px;
    position: absolute;
    margin: 0;
    height: 0;
}

.profile__content-user-info-drop-down--active ~ .profile__content-user-info-drop-down-list {
    height: max-content;
}

.profile__content-user-info-icon-up {
    display: none;
}

.profile__content-user-info-drop-down--active .profile__content-user-info-icon-up {
    display: block;
}

.profile__content-user-info-drop-down--active .profile__content-user-info-icon-right {
    display: none;
}

.profile__content-user-info-drop-down--active ~ .profile__content-user-info-drop-down-list > li {
    display: block;
}

.profile__content-user-info-drop-down--active ~ .profile__content-attached-files-drop-down {
    margin-top: 228px;
}

.profile__content-user-info-drop-down-item {
    margin: 25px 0;
    display: none;
    opacity: 0;
    animation: userInfoDropDown .5s ease-in-out .2s forwards;
}

@keyframes userInfoDropDown {
    from {
        transform: scaleZ(0);
        opacity: 0;
    }
    to {
        transform: scaleZ(1);
        opacity: 1;
    }
}

.profile__content-user-info-item-label,
.profile__content-user-info-item-text {
    font-size: 1.4rem;
    margin: 8px 0;
}

.profile__content-user-info-item-label {
    font-weight: 400;
    color: var(--text-color);
}

.profile__content-user-info-item-text {
    font-weight: 600;
    color: var(--white-color);
}

.profile__content-user-info-wrap,
.profile__content-attached-files-wrap {
    display: flex;
    align-items: center;
}

.profile__content-user-info-text,
.profile__content-attached-files-text {
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 15px;
}


/* login page */
.login-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-grey-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-container__form-wrapper {
    border-radius: 5px;
    padding: 20px;
    max-width: 480px;
}

.form-wrapper__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper__header > img{
    width: 30%;
    margin-bottom: 25px;
}

.form-wrapper__header > h2{
    font-size: 2.4rem;
    color: #fff;
    font-weight: 500;
}

.form-wrapper__header > h6{
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
    margin: 10px 0px;
}

.form-wrapper__body {
    background-color: var(--black-color);
    padding: 25px 40px;
    border-radius: 6px;
    margin-top: 20px;
}

.form-group {
    margin-top: 20px;
}

.form-group > label {
    display: block;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.form-group__password-label-wrapper {
    margin-bottom: 10px;
}

.form-group__password-label-wrapper > label {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.forgot-pass-link {
    float: right;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 300;
}

.form-group__input-group {
    display: flex;
}

.form-group__input-group > input {
    flex: 1;
    background-color: #2d363e;
    padding: 0 8px;
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #a3adcb;
    font-size: 1.5rem;
    font-weight: 500;
}

.form-group__input-icon-wrapper{
    display: inline-block;
    position: relative;
    width: 42px;
    height: 42px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    background-color: var(--grey-color);
}

.form-group__input-icon {
    color: var(--text-color);
    font-size: 1.6rem; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-check {
    margin-top: 20px;
}

.form-check__label {
    display: flex;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 5px;
    user-select: none;
    cursor: pointer;
}

.form-check__checkmark {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 1px 5px 0 0;
    background-color: var(--text-color);
    border-radius: 2px;
    position: relative;
}

.form-check__input {
    display: none;
}

.form-check__input:checked ~ .form-check__checkmark {
    background-color: var(--purple-color);
    border-radius: 2px;
}

.form-check__checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 3.75px;
    top: 1.3px;
    width: 3px;
    height: 5px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-check__input:checked ~ .form-check__checkmark::after {
    display: block;
}

.form__submit-btn {
    background-color: var(--purple-color);
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 40px;
    margin: 20px 0;
    font-size: 1.5rem;
}

.form-wrapper__footer {
    margin-top: 30px;
    text-align: center;
}

.footer__sign-up-text {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.footer__sign-up-link {
    color: var(--purple-color);
    text-decoration: none;
}

.footer__copy-right {
    margin-top: 20px;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 500;
}

.footer__icon {
    color: #ef476f;
}